{% extends "./layout.njk" %}

{% block content %}

            {# <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30">
              <use href="#facebook"/>
            </svg> #}

  {{ content | safe }}

{% endblock %}