{% extends "./layout.njk" %}

{% block content %}
  <con-blog-handler progress-bar footnotes class="project-content">
  {% if pageHeader %}
    <header class="page-header"style="background-image:url('{{pageHeader.image}}')">
      {% if pageHeader.title %}
        <h1>{{pageHeader.title}}</h1>
      {% endif %}
    </header>
  {% endif %}
    <section class="intro section-grid">
      <h1 class="section-heading">
        <span class="sup-heading">{{tags}}</span>{{pageTitle}}
      </h1>
      <div class="date-wrapper">{{project.date}}</div>
      {% if project.intro %}
        <div class="body-copy">
          <p>{{project.intro}}
          </p>
        </div>
      {% endif %}
    </section>
    <article class="page-article">
      {{ content | safe }}
    </article>

    {% include "./partials/relatedContent.njk" %}
  </con-blog-handler>
{% endblock %}