.word-mark{
  font-size: 2.4rem;
  font-variation-settings: 'wght' 540;
  &-text{
    font-size: inherit;
  }
}

.top-navigation {
  --nav-color: whitesmoke;
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  align-items: center;
  height: max-content;
  padding: 0.28rem 2rem 0.25rem 2rem;
  width: 100%;
  background: var(--nav-color);
  transition: transform 360ms ease;
  will-change: transform;
  z-index: 9999;

  &.up {
    transform: translateY(-100%);
  }

  & a{
    text-decoration: none;
  }

}

.nav-menu {
  font-variation-settings: 'wght' 400;
  margin-left: auto;
  display: flex;
  gap: 2rem;

  &__catagory {
    position: relative;
    z-index: 1;
    
    &-title{
      font-variation-settings: 'wght' 400;
    }

    &-items {
      font-variation-settings: 'wght' 400;
      position: absolute;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem;
      top: 1em;
      left: -1rem;
      z-index: -1;
      background-color: var(--nav-color);
      width: max-content;
    }

    &:hover .nav-menu__catagory-items {
      visibility: visible;
    }
  }

  &__item {
    font-size: 2rem;
    display: inline-block;
  }
}
