---
layout: page
pageTitle: 'Concordia Components'
tags: 'page'
---

<div class="component-wrapper">

<con-button>Click Me</con-button>

<con-input-field placeholder="testing"></con-input-field>

<con-toggle-switch></con-toggle-switch>

<con-form>

<con-input-field></con-input-field>

<con-toggle-switch></con-toggle-switch>

</con-form>

<con-new-lit></con-new-lit>

</div>