---
pageTitle: 'Notion Website'
pageHeader:
    image: '/bike.jpg'
    title: 'Notion Website'
project:
    title: 'Notion-mfg'
    date: '00/22/11'
    intro: 'It was the year 2525 and man was still alive. They thought he would live a million years unfortunatly it was only two'
tag: 'fridge'
---

<section class="section-grid">
    <h1 class="section-heading">Section One</h1>
    <svg class="blog-arrow" xmlns="http://www.w3.org/2000/svg" width="30" height="30">
        <use href="#arrow"/>
    </svg>
    <div class="body-copy">
        <p>This is <con-highlight>This</con-highlight> how we do it it's Friday Night and the parties here on the west side.</p>
        <p>This is <con-highlight>This</con-highlight> how we do it it's Friday Night and the parties here on the west side.</p>
        <p>This is <con-highlight>This</con-highlight> how we do it it's Friday Night and the parties here on the west side.</p>
    </div>
    <div class="image-gallery grid repeat-auto">
        <figure>
            <img id="shadowBox" src="/bike.jpg" alt="">
            <figcaption>Yolo</figcaption>
        </figure>
    </div>
    <div class="body-copy">
        <p>This is <con-highlight>This</con-highlight> how we do it it's Friday Night and the parties here on the west side.</p>
    </div>
</section>
<section class="section-grid">
    <h1 class="section-heading">Section One</h1>
    <svg class="blog-arrow" xmlns="http://www.w3.org/2000/svg" width="30" height="30">
        <use href="#arrow"/>
    </svg>
    <div class="body-copy">
        <p>This is how we do it its Friday <a href="./">Testing</a>
            <con-cite footnote="It cost a lot of money">Bitcoin</con-cite>
            <con-cite footnote="a name of a till man">Tillmans</con-cite>Night and the parties here on the west side.</p>
    </div>
    <div class="image-gallery grid repeat-auto">
        <figure>
            <img id="shadowBox" src="/bike.jpg" alt="">
            <figcaption>Yolo</figcaption>
        </figure>
        <figure>
            <img id="shadowBox" src="/bike.jpg" alt="">
            <figcaption>Yolo</figcaption>
        </figure>
        <figure>
            <img id="shadowBox" src="/bike.jpg" alt="">
            <figcaption>Yolo</figcaption>
        </figure>
    </div>
    <con-word-typer></con-word-typer>
    <con-read-timer></con-read-timer>
    <con-word-counter></con-word-counter>
</section>

<h1>{{sections.one.title}}</h1>