---
pageTitle: 'Ability Absence'
pageHeader:
    image: '/og-image.jpg'
    title: 'Ability Absence'
project:
    title: 'Notion-mfg'
    date: '00/22/11'
    intro: 'It was the year 2525 and man was still alive. They thought he would live a million years unfortunatly it was only two'
tag: 'fridge'
sections: 
   - title: 'Hello'
     content: "This is how we do it it's Friday Night and the parties here on the west side."
   - title: 'Hello' 
     content: 'This is how we do it its Friday <a href="./">Testing</a><con-cite footnote="It cost a lot of money">Bitcoin</con-cite><con-cite footnote="a name of a till man">Tillmans</con-cite>Night and the parties here on the west side.'


---

{% for section in sections %}
    <section class="section-grid">
        <h1 class="section-heading">{{section.title}}</h1>
        <svg class="blog-arrow" xmlns="http://www.w3.org/2000/svg" width="30" height="30">
            <use href="#arrow"/>
        </svg>
        <p class="body-copy">{{section.content | safe}}</p>
    </section>
{% endfor %}
<h1>{{sections.one.title}}</h1>