---
pageTitle: 'Notion Website'
---

        <main class="entry customizer" data-type-of-content="Web Design,UI/UX Design" data-client="Notion Manufacturing">
            <!--grid naming [identifier][desktop layout][mobile layout][column layout name]-->
            <!-- blog entry -->
            <header></header>
            <article>
                <section class="nineByFour-grid">
                    <h1 class="content blog-heading section-heading">Disclaimer</h1>
                    <div class='content body-copy'>
                        <p class='body-text'>This case study is a work in progress. I'm in the process of building out a
                            comprehensive version
                            but it's not quite done yet. I've compiled screenshots of the final product but haven't had
                            to chance to dive into the design reasoning.</p>
                        <p class='body-text'>
                            I'd recommend looking at the <a class="underline" href="/pages/gelaskins.html">GelaSkins</a>
                            case study or the <a class="underline" href="/pages/notion-customizer.html">Notion
                                Customization App</a> for a more in depth look at my approach. But if you just want to
                            see some web design <a class="underline" href="#end-product">here</a> is the end product.
                        </p>
                    </div>
                </section>
                <section class="nineByFour-grid">
                    <h1 class="content section-heading"><span class="sup-heading">Notion/Brand & Product</span> Building
                        a Brand Identity for a Boutique Print House</h1>
                    <div class="content body-copy">
                        <h2 class="sub-head">Context</h2>
                        <p class='body-text has-heading'>
                            Notion-mfg is a boutique print ware house serving primaryly B2B clients in the custom
                            apparel space. This project was an attempt to break into the consumer market.
                            This project included Defining Brand Identity, Visual Creative, Development, Back-end
                            Integration, Website Visual and Information Design.
                        </p>
                        <p class="body-text">Notion was going to bring production power to the masses. Notion
                            had been providing POD* services to a hand full of select artists and brands already but
                            this new product would allow anyone to create made-to-order merchandise using our
                            website and customizer web-app. Atleast that was the hope.</p>
                        <p class="body-text explanation">Footnotes for words, events or terms that require context will
                            be notated
                            with a superset numeral like <a href="#foot-note" class="foot-note-content"
                                data-foot-note="BOO!: is the sound a ghost makes">this</a>. click to view click again to
                            hide or hit the X.
                        </p>
                    </div>
                </section>
                <section class="nineByFour-grid">
                    <h1 class="content blog-heading section-heading">Starting Point</h1>
                    <div class="date-wrapper">
                        <svg class="arrow" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="85px" height="40px"
                            viewBox="0 0 85 40" xml:space="preserve">
                            <use xlink:href="#arrow" />
                        </svg>
                    </div>
                    <div class='content body-copy'>
                        <p class='body-text'>We started by talking to our customers, doing competitive analysis and
                            stakeholder round tables define our place in the market, this included things like brand
                            tone and
                            style.</p>
                        <p class="body-text">
                            Distilling everything down this was our takeaway, our <em>Purpose for the product</em> so to
                            speak.
                        </p>
                        <ol class="blog-box">
                            <li>
                                A place to direct/satisfy inbound sale inquiries that would not be profitable (or at
                                least a good use of our time) to ‘hand hold’ manually
                            </li>
                            <li>
                                A place to direct/satisfy inbound sale inquiries that are so straight forward there’s no
                                need for the client to work with a ‘Sales Rep’
                            </li>
                            <li>
                                A marketing vehicle that can educate (and intrigue) interested parties on our range of
                                services
                            </li>
                            <li>
                                A lead collection tool and ‘filtering’ system for Notion On-Demand
                                (API Integration)
                            </li>
                        </ol>
                        <p class='body-text'>
                            Analogies:
                        </p>
                        <dl class="blog-box">
                            <dt>
                                Mechanic Analogy
                            </dt>
                            <dd>
                                We want to be that highly appreciated contact that people can go to and feel lucky that
                                they have someone that they trust to guide them through a difficult process and give
                                them a fair deal
                            </dd>
                            <dt>
                                Recording Studio Analogy
                            </dt>
                            <dd>
                                We want to use our client/artist base to attract more attention
                            </dd>
                            <dd>
                                I want to get my record made at the same studio that Arcade Fire gets theirs made at.
                                That is the feeling we want to bring out in artists/brands.
                            </dd>
                        </dl>
                        </p>

                    </div>
                </section>
                <section class="nineByFour-grid">
                    <h1 class="content blog-heading section-heading">Design Roughs / Sprint</h1>
                    <div class="date-wrapper">
                        <svg class="arrow" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="85px" height="40px"
                            viewBox="0 0 85 40" xml:space="preserve">
                            <use xlink:href="#arrow" />
                        </svg>
                    </div>
                    <div class='content body-copy'>
                        <p class='body-text'>
                            Based on our research we got to work with some initial prototypes roughing out the websites
                            layout, interactions, architecture and key sections.
                            These initial designs were very rough but they let us get something tangable infront of
                            stakeholders so we could start talking about something real.
                        </p>
                        <p class='body-text'>
                            You might be confused by the CTA buttons asking to sign up for our beta. Initially the scope
                            of
                            the site was a lot less ambitious we were launching the product in an opt in capacity only
                            accepting approved applicant's, specifically we wanted to attract and sign up POD cliental
                            (what
                            we were familiar with) and single item purchases. The goals of the product changed quite a
                            bit
                            from this initial prototype and the final product.
                        </p>
                    </div>
                    <div class='content image-wrapper side-by-side'>
                        <figure>
                            <figcaption>Index Prototype Mobile</figcaption>
                            <div class="browser-window browser-window-mobile blog-box" style="padding-top: 169%">
                                <img class="shadow-box"
                                    src='/images/notion/notion.ca/prototypes v1/index - iPhone 6-7-8.png'>
                            </div>
                        </figure>
                        <figure>
                            <figcaption>Index Prototype Desktop</figcaption>
                            <div class="browser-window blog-box">
                                <img class="shadow-box" src='/images/notion/notion.ca/prototypes v1/index - 1920.png'>
                            </div>
                        </figure>
                        <figure>
                            <figcaption>Product Prototype Mobile</figcaption>
                            <div class="browser-window browser-window-mobile blog-box" style="padding-top: 169%;">
                                <img class="shadow-box"
                                    src='/images/notion/notion.ca/prototypes v1/product - iPhone 6-7-8.png'>
                            </div>
                        </figure>
                        <figure>
                            <figcaption>Product Prototype Desktop</figcaption>
                            <div class="browser-window blog-box">
                                <img class="shadow-box" src='/images/notion/notion.ca/prototypes v1/product - 1920.png'>
                            </div>
                        </figure>
                    </div>
                    <div class='content body-copy'>
                        <p class='body-text'>Take away...</p>
                    </div>
                </section>
                <section class="nineByFour-grid">
                    <h1 class="content blog-heading section-heading">Iteration</h1>
                    <div class="date-wrapper">
                        <svg class="arrow" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="85px" height="40px"
                            viewBox="0 0 85 40" xml:space="preserve">
                            <use xlink:href="#arrow" />
                        </svg>
                    </div>
                    <div class='content body-copy'>
                        <p class='body-text'>
                            Coming soon!
                        </p>
                        <!-- <p class='body-text'>After our initial implementation we used Notion staff to run usability
                        tests some of the areas that brought up issues that we need to address.</p> -->
                    </div>
                    <!-- <div class='content body-copy'>
                    <p class='body-text'>
                        Bones layed out we round tabled other information our users would appeciate. Case studies,
                        Service Specifics
                    </p>
                </div> -->

                </section>
                <section class="nineByFour-grid">
                    <h1 id="end-product" class="content blog-heading section-heading">End Product</h1>
                    <div class="date-wrapper">
                        <svg class="arrow" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="85px" height="40px"
                            viewBox="0 0 85 40" xml:space="preserve">
                            <use xlink:href="#arrow" />
                        </svg>
                    </div>
                    <div class='content body-copy'>
                        <p class='body-text'>Screen shots of the end product. More details about my design reasoning too
                            be added soon.</p>
                    </div>
                    <div class='content image-wrapper side-by-side'>
                        <figure class="" style="max-width: 375px;">
                            <figcaption>Index Page Mobile</figcaption>
                            <div class="browser-window browser-window-mobile blog-box">
                                <img class="shadow-box" src='/images/notion/notion.ca/products/iPhone Cases-mobile.png'>
                            </div>
                        </figure>
                        <figure>
                            <figcaption>Index Page</figcaption>
                            <div class="browser-window blog-box">
                                <img class="shadow-box" src='/images/notion/notion.ca/index/Notion.ca Index.png'>
                            </div>
                        </figure>
                    </div>
                    <div class='content image-wrapper side-by-side'>
                        <figure class="" style="max-width: 375px;">
                            <figcaption>Product Page</figcaption>
                            <div class="browser-window browser-window-mobile blog-box">
                                <img class="shadow-box" src='/images/notion/notion.ca/products/iPhone Cases-mobile.png'>
                            </div>
                        </figure>
                        <figure>
                            <figcaption>Product Page</figcaption>
                            <div class="browser-window blog-box">
                                <img class="shadow-box"
                                    src='/images/notion/notion.ca/products/iPhone Cases-desktop.png'>
                            </div>
                        </figure>
                    </div>
                    <div class='content image-wrapper side-by-side'>
                        <figure class="" style="max-width: 375px;">
                            <figcaption>Collection Page Mobile</figcaption>
                            <div class="browser-window browser-window-mobile blog-box">
                                <img class="shadow-box"
                                    src='/images/notion/notion.ca/collections/Decor Accessories mobile.png'>
                            </div>
                        </figure>
                        <figure>
                            <figcaption>Collection Page Desktop</figcaption>
                            <div class="browser-window blog-box">
                                <img class="shadow-box"
                                    src='/images/notion/notion.ca/collections/Decor Accessories deskop.png'>
                            </div>
                        </figure>
                    </div>
                    <!-- <h4 class="content image-wrapper-heading" style="margin-top:var(--grid-gap); margin-bottom: 0;">FAQ</h4> -->
                    <div class='content image-wrapper side-by-side'>
                        <figure class="" style="max-width: 375px;">
                            <figcaption>FAQ mobile</figcaption>
                            <div class="browser-window browser-window-mobile blog-box">
                                <img class="shadow-box" src='/images/notion/notion.ca/faq/FAQ mobile.png'>
                            </div>
                        </figure>
                        <figure>
                            <figcaption>FAQ Desktop</figcaption>
                            <div class="browser-window blog-box">
                                <img class="shadow-box" src='/images/notion/notion.ca/faq/FAQ desktop.png'>
                            </div>
                        </figure>
                    </div>
                </section>
                <section class="nineByFour-grid">
                    <h1 class="content blog-heading section-heading">Post Mortem</h1>
                    <div class="date-wrapper">
                        <svg class="arrow" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="85px" height="40px"
                            viewBox="0 0 85 40" xml:space="preserve">
                            <use xlink:href="#arrow" />
                        </svg>
                    </div>
                    <div class='content body-copy'>
                        <p class='body-text'>
                            Coming Soon!
                        </p>
                    </div>
                </section>
            </article>
        </main>
