---
layout: home.njk
pageTitle: "Eleventy-Parcel"
---

<h1>Hey</h1>

<section class="section-grid project-content">

{% for project in collections.project %}
    <h1>
        <a href="{{project.url}}">{{project.data.pageTitle}}</a>
    </h1>
    <img src="{{project.data.pageHeader.image}}" alt="">
{% endfor %}
</section>