<con-footer>
  <div slot="menu">
    <ul>
      {% for project in collections.project %}
        <li>
          <a class="" href="{{ project.url }}">{{ project.data.pageTitle }}</a>
        </li>
      {% endfor %}
    </ul>
    <ul>
      {% for page in collections.page %}
        <li>
          <a class="" href="{{ page.url }}">{{ page.data.pageTitle }}</a>
        </li>
      {% endfor %}
    </ul>
    <ul>
      {% for blog in collections.blog %}
        <li>
          <a class="" href="{{ blog.url }}">{{ blog.data.pageTitle }}</a>
        </li>
      {% endfor %}
    </ul>
    <small>&copy;
    {{ metadata.author.name }}
      {{ page.date.getFullYear() }}
    </small>
  </div>
</con-footer>