<con-footer>
  <div slot="menu">
    <ul>
      {% for project in collections.project %}
        {% set linkListItem = project %}
        {% include "./linkListItem.njk" %}
      {% endfor %}
    </ul>
    <ul>
      {% for myPage in collections.page %}
        {% set linkListItem = myPage %}
        {% include "./linkListItem.njk" %}
      {% endfor %}
    </ul>

    <ul>
      {% for blog in collections.blog %}
        {% set linkListItem = blog %}
        {% include "./linkListItem.njk" %}
      {% endfor %}
    </ul>

    <small>&copy;
    {{ metadata.author.name }}
      {{ page.date.getFullYear() }}
    </small>
  </div>
</con-footer>